<h1>Room Application Page (roomapplies/new)</h1>
<br>
<h2>This page should only display this form.</h2>
<p>TODO:<br>
1) Make this page only display this for<br>
2) Notify the "landlord" that there exist a pending application for room<br> 3)Comfirmation dialog if the user when the user press submit.<br>4) Redirect to only this page, don't want other users to view the current applicants.<br>
</p>
<br>

<center>
	<%= render 'form', roomapply: @roomapply %>
</center>

